.write-post-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    margin-top: 10vh;
}

.write-post {
    width: 35%;
    margin: 0 auto;
    padding: 25px;
    background-color: #333;
    border-radius: 15px;
    color: #f5f5f5;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
}

.form-label {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.form-input,
.form-textarea,
.form-select {
    width: 85%;
    padding: 14px;
    margin: 0 auto;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 8px;
    outline: none;
    background-color: #333;
    color: #f5f5f5;
}

.form-textarea {
    resize: vertical;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
}

.editor-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 5%;
}

.markdown-preview {
    font-size: 18px;
    color: #f5f5f5;
    width: 100%;    
    line-height: 1.8;
    margin-left: 20%;
}

.error-message {
    color: #ff6b6b;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

button {
    padding: 14px 28px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.form-textarea {
    resize: vertical;
    height: 150px; /* 기존 높이보다 약간 낮게 설정 */
}